/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-home-container {
  .img-container {
    height: calc(100vh - 64px);
    background: #000;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    width: 100vw;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    .info-container {
      height: calc(100vh - 64px - 32px);
      width: 100vw;
      font-style: italic;
      top: calc(0px - 100vh + 128px + 14vh);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .top-info-container {
          color:white;
          font-size:1.18em;
      }
      .button-container {
          margin-top: 3%;
      }
    }
  }
}

.footer-copyright-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  .footer-social-icons {
    display: flex;
    justify-content: flex-end;
    a {
      margin-right: 5px;
      li {
        list-style: none;
        i {
          width:35px;
          height:35px;
          line-height: 35px;
          border: 1px solid #ebebeb;
          text-align:center;
          font-size:1.2em;
          color: #ebebeb;
        }
      }
    }
  }
}

input:not([type]):focus:not([readonly]), 
input[type="text"]:not(.browser-default):focus:not([readonly]), 
input[type="password"]:not(.browser-default):focus:not([readonly]), 
input[type="email"]:not(.browser-default):focus:not([readonly]), 
input[type="url"]:not(.browser-default):focus:not([readonly]), 
input[type="time"]:not(.browser-default):focus:not([readonly]), 
input[type="date"]:not(.browser-default):focus:not([readonly]), 
input[type="datetime"]:not(.browser-default):focus:not([readonly]), 
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), 
input[type="tel"]:not(.browser-default):focus:not([readonly]), 
input[type="number"]:not(.browser-default):focus:not([readonly]), 
input[type="search"]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #268be2;
  box-shadow: 0px 1px 0px 0px #268be2;
  -webkit-box-shadow: 0px 1px 0px 0px #268be2;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #268be2;
}

nav, .page-footer {
  background-color:#674fe6;
}

.btn, .btn-large, .btn-small {
  background-color: #268be2;
}

.success-rounded {
  background-color: #25c91a;
  border-radius: 30px;
}

.failure-rounded {
  background-color:red;
  border-radius: 30px;
}
